* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    background-color: #EFE6E4;
    color: #533738;
    width: 100%;
    /* max-width: 1400px; */
}

/* -------------------------------------------------------------- */

/* Секция 1.*/

/* навигация по странице вверху старинцы */
header {
    padding: 36px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
}

/* Стиль текста для секции 1*/
.section-top {
    background-image: url(img/bg-topa.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 715px;
    /* width: 1400px; */
}


nav li {
    list-style: none;
    display: inline;
    margin-left: 26px;
}

nav li:last-child {
    margin-left: 34px;
}

nav a {
    text-decoration: none;
    color: #533738;
    font-size: 16px;
    line-height: 20px;
}

/* Вводная часть */

.section-top h1 {
    font-weight: normal;
    font-size: 50px;
    line-height: 62px;
    width: 520px;
    margin-bottom: 24px;
}

.welcome p {
    width: 420px;
    margin-bottom: 21px;

    font-size: 18px;
    line-height: 30px;
}

/* КНОПКА Оставить заявку */
.btn {
    width: 309px;
    height: 74px;
    background-color: #CC8B86;
    border: none;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.welcome {
    padding-left: 184px;
    margin-top: 91px;
}


/* -------------------------------------------------------------- */
/* О НАС*/
.about-us {
    margin-top: 65px;
    font-style: normal;
    font-weight: 400;
}

.about-us h1 {
    text-align: center;
    margin: 0px;
    font-weight: normal;


    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
}

.about-us p {
    font-size: 18px;
    line-height: 30px;
    width: 520px;
    height: 330px;
    margin: 0;
}

.about-us img {
    width: 444.54px;
    height: 465px;
    margin-right: 62px;
}

.about-us__div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 182px 0px 182px;

}

.a-u_statistic {
    display: grid;
    grid-template: 66px 41px/ 1fr 1fr 1fr;
    margin-top: 21px;
    margin-bottom: 65px;
    background-color: #8D7370;
    padding-top: 85px;
    padding-bottom: 81px;
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
}

.a-u_statistic span:nth-child(odd) {
    font-size: 50px;
    line-height: 62px;
}

.a-u_statistic span:nth-child(even) {
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
}

.a-u_statistic span:nth-child(1) {
    grid-area: 1/1/2/2;
}

.a-u_statistic span:nth-child(2) {
    grid-area: 2/1/3/2;
}

.a-u_statistic span:nth-child(3) {
    grid-area: 1/2/2/3;
}

.a-u_statistic span:nth-child(4) {
    grid-area: 2/2/3/3;
}

.a-u_statistic span:nth-child(5) {
    grid-area: 1/3/2/4;
}

.a-u_statistic span:nth-child(6) {
    grid-area: 2/3/3/4;
}

/* -------------------------------------------------------------- */
/* SECTION ПОРТФОЛИО */

.layers {
    display: grid;
    grid-template: 451px/488px;
}


.our-cases {
    font-weight: normal;
    font-weight: 400;
    padding: 0px 100px 65px 100px;
}

.our-cases h1 {
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0;
}

.flat {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.our-cases div img {
    margin-bottom: 10px;
}

.layer__back {
    grid-area: 1/1/2/2;
}

.descript {
    background-color: rgba(100, 72, 69, 0.8);
    line-height: 37px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 488px;
    height: 451px;
    grid-area: 1/1/2/2;
}

.descript h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    margin: 0;
    width: 270px;
}

.descript p {
    font-size: 18px;
    line-height: 30px;

    width: 414px;
    margin: 0;
}

.our-cases a {
    text-decoration: none;
    color: #533738;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    display: block;
    text-align: center;
}

.o-c-arrow {
    margin-left: 10px;
}

/* ----------------------------------- */
/* команда */
.team {
    height: 998px;
    background-color: #E2C4BA;

}

.team h1 {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    margin: 0;


}

.galery {

    display: flex;
    justify-content: space-between;
    padding: 0px 182px 0px 182px;
    margin: 0;

}

.galery figure {
    margin: 0;
}

.galery img,
p {
    margin: 0;
    width: 320px;
    padding-top: 10px;

    font-size: 18px;
    line-height: 30px;
}

/* -------------------------------------------- */
/* как мы работаем */
.process h1 {
    margin: 0;
}

.process {
    padding: 35px 100px 0px 100px;
}

.process ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    align-content: center;
    padding-top: 40px;

}

.process li {
    width: 285px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.process ul div {
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 108px;


    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #8D7370;
}

/* ----------------------------------------- */
/* отзывы */
.feedback {
    margin: 0px 182px 0px 182px;
}

.feedback h1 {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 40px;
}

.feed__slide {
    display: grid;
    grid-template: 1fr / 72px 834px 72px;
    gap: 29px;
    align-items: center;
    padding-bottom: 65px;
}

.feed__fb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.feed__img {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* ---------------------------------------------- */
/* оставить заявку */
.req {
    background-color: #8D7370;
    padding-left: 182px;
    padding-right: 100px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.req h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    padding-top: 50px;
    margin-bottom: 24px;

}

.req p {
    opacity: 0.6;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 507px;
    margin-bottom: 44px;
}

.req form {
    width: 508px;

}

.req input {
    background-color: #8D7370;
    border: 0mm;
    border-bottom: 1px solid white;
    width: 508px;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
    margin-bottom: 35px;
}

/* ----------------------- */
/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 42px;
}

.f_ip {}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}