body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    background-color: #EFE6E4;
    color: #533738;
}

/* -------------------------------------------------------------- */

/* Секция 1.*/
header {
    margin: 0;
}

/* Стиль текста для секции 1*/
.section-top {
    font-style: normal;
    height: 715px;
    background-image: url(img/bg-topa.jpg);
    background-size: 100%;
}

header {
    font-size: 16px;
    line-height: 20px;
}


/* лого светильниК */
header img {
    position: absolute;
    width: 25.34px;
    height: 25px;
    left: 98.32px;
    top: 36px;
}

/* название лого SCANDI */
header p {
    position: absolute;
    left: 124px;
    top: 38px;
    margin: 0;

    font-size: 16px;
    line-height: 20px;
}

/* навигация по странице вверху старинцы */
nav {
    margin-top: 0;
    position: absolute;
    left: 278px;
    top: 38px;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 26.5px;
}

nav a {
    text-decoration: none;
    color: #533738;
}

nav ul {
    margin: 0;
}

.phone {
    margin-left: 8px;
}

.section-top h1 {
    font-weight: normal;
    font-size: 50px;
    line-height: 62px;

    margin: 0px 0px 24px 0px;
    width: 534.02px;
    height: 186px;
}

.welcome p {
    width: 420px;
    height: 90px;
    margin: 0px 0px 21px 0px;

    font-size: 18px;
    line-height: 30px;
}

/* КНОПКА Оставить заявку */
.btn {
    width: 309px;
    height: 74px;
    background-color: #CC8B86;
    border: none;
    margin: 0;


    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.welcome {
    padding: 152px 0px 0px 185px;
}

/* -------------------------------------------------------------- */
/* О НАС*/
.about-us {
    margin-top: 65px;
    font-style: normal;
    font-weight: 400;
}

.about-us h1 {
    text-align: center;
    margin: 0px;
    font-weight: normal;


    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
}

.about-us p {
    font-size: 18px;
    line-height: 30px;
    width: 520px;
    height: 330px;
    margin: 0;
}

.about-us img {
    width: 444.54px;
    height: 465px;
    margin-right: 62px;
}

.about-us div {
    display: flex;
    justify-content: center;
    margin: 40px 182px 0px 182px;

}

.about-us ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 65px;
    background-color: #8D7370;

    height: 273px;
    width: 100%;
    color: rgb(255, 255, 255);
}

.about-us li p {
    height: fit-content;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
}

.about-us li {
    display: inline;
    list-style: none;
    text-align: center;

    text-transform: uppercase;
    font-size: 30px;
    line-height: 37px;
}

/* -------------------------------------------------------------- */
/* SECTION ПОРТФОЛИО */

.our-cases {
    font-weight: normal;
    font-weight: 400;
    margin: 0px 100px 0px 100px;
    width: 100%;
}

.our-cases h1 {
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0;
}

.flat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 40px 100px 40px 100px;
}

.our-cases div img {
    margin-bottom: 30px;
}

.descript {
    background-color: rgba(100, 72, 69, 0.8);
    line-height: 37px;
    color: #FFFFFF;

    margin: 0;
    width: 488px;
    height: 451px;

}

.descript div {
    padding: 0 !important;
}

.descript h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    margin: 0;
    width: 270px;
}

.descript p {
    font-size: 18px;
    line-height: 30px;

    width: 418px;
    margin: 0;
}

.our-cases a {
    text-decoration: none;
    color: #533738;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    display: block;
    text-align: center;
}

/* ----------------------------------- */
/* команда */
.team {
    width: 1399px;
    height: 998px;
    background-color: #E2C4BA;
    width: 100%;

}

.team h1 {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    margin: 0;


}

.galery {

    display: flex;
    justify-content: space-between;
    padding: 0px 182px 0px 182px;
    margin: 0;

}

.galery figure {
    margin: 0;
}

.galery img,
p {
    margin: 0;
    width: 320px;
    padding-top: 10px;

    font-size: 18px;
    line-height: 30px;
}

/* -------------------------------------------- */
/* как мы работаем */
.process h1 {
    margin: 0;
}

.process {
    padding: 35px 100px 0px 100px;
}

.process ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    align-content: center;
    padding-top: 40px;

}

.process li {
    width: 285px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.process ul div {
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 108px;


    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #8D7370;
}

/* ----------------------------------------- */
/* отзывы */
.feedback {
    margin: 0px 182px 0px 182px;
}

.feedback h1 {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

/* ---------------------------------------------- */
/* оставить заявку */
.req {
    background-color: #8D7370;
    width: 100%;
    padding-left: 182px;
    padding-right: 100px;
    color: #FFFFFF;
}

.req h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    padding-top: 50px;
    margin-bottom: 24px;

}

.req p {
    opacity: 0.6;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 507px;
    margin-bottom: 44px;
}

.req form {
    width: 508px;

}

.req input {
    background-color: #8D7370;
    border: 0mm;
    border-bottom: 1px solid white;
    width: 508px;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
    margin-bottom: 35px;
}

/* ----------------------- */
/* footer */
footer {
    padding: 37px 100px;
    display: flex;
    justify-content: space-between;
}